body {
    width: fit-content;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: white;
}

.container {
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
}

h1 {
    width: fit-content;
    margin: auto;
}

nav ul {
    padding-left: 0;
    list-style-type:none;
}

.nav-option {
    margin-bottom: 3px;
}

.nav-option a {
    text-decoration: none;
    color: black;
}

.nav-option a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.section-header {
    margin-top: 40px;
}

img {
    width: 80%;
    height: auto;
}

.contact-options li {
    margin-bottom: 6px;
}

.contact-options a {
    text-decoration: none;
    color: black;;
}

.contact-options a:hover {
    font-weight: bold;
}

.skills-list li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.code-example {
    overflow-x: auto;
}

.experience-list li {
    margin-bottom: 6px;
}